<html>
  <head>
      <title>March Pictures - LevsDelight</title>
      <meta name="keywords" content="March pictures, villa rica farm, petting zoo, llamas">
      <meta name="description" content="Natty and Jason's Petting Zoo has Llamas, chickens, bunny rabbits, and a donkey">

<!--       <1!-- Main CSS --1> -->
<!--       <link href="../css/style.css" rel="stylesheet" type="text/css" media="screen" /> -->

<!--       <1!-- CSS for jQuery Picture Gallery --1> -->
<!--       <link rel="stylesheet" href="css/basic.css" type="text/css" /> -->
<!--       <link rel="stylesheet" href="css/galleriffic-2.css" type="text/css" /> -->

<!--       <style type="text/css"> -->
<!--             /* Resize the slideshow images to fit */ -->
<!--             #slideshow img { -->
<!--                 width: 500px; -->
<!--                 height: 299px; -->

<!--                 /* This creates duration for image scaling on hover */ -->
<!--                 -webkit-transition: all .4s ease-in-out; -->
<!--                         transition: all .4s ease-in-out; -->
<!--             } -->

<!--             #slideshow img:hover { -->
<!--              -webkit-transform: scale(1.5); -->
<!--                 -moz-transform: scale(1.5); -->
<!--                  -ms-transform: scale(1.2); -->
<!--                   -o-transform: scale(1.2); -->
<!--                      transform: scale(1.2); -->

<!--                 /* This fixes the problem in Webkit where the thumbnail images */ -->
<!--                 /* show through when scaling on a hover event */ -->
<!--                 -webkit-backface-visibility: hidden; -->
<!--                 position: relative; -->
<!--             } -->

<!--       </style> -->

<!--       <1!-- Main JavaScript --1> -->

<!--       <1!-- jQuery --1> -->
<!--          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script> -->

<!--       <1!-- Gallerific JavaScript--> -->
<!-- 	     <script type="text/javascript" src="js/jquery.galleriffic.js"></script> -->
<!--          <script type="text/javascript" src="js/jquery.opacityrollover.js"></script> -->


<!--       <1!-- Miscellaneous JavaScript --1> -->
	
<!--         <1!-- <script type="text/javascript" src="../extjs/ext-4-0-2a/ext-all.js"></script> --1> -->
<!--         <script type="text/javascript" src="../js/ajax.js"></script> -->
<!--         <script type="text/javascript" src="../js/addingFiles.js"></script> -->
<!--         <1!-- Snow Layer --1> -->
<!--         <1!-- <script type="text/javascript" src="../js/snow.js"></script> --1> -->
<!--         <script type="text/javascript"> -->
<!--             document.write('<style>.noscript { display: none; }</style>'); -->
<!--         </script> -->

      
  </head>
  <body>
	<h1>Hello Our New App 2</h1>
  </body>
</html>
